{% extends "layout/base.html.twig" %}


{% block main %}
    <main>
        {% for label, messages in app.flashes %}
            <div class="flash-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        
        <h2>Drink Menu</h2>
        <ul>
            {% for drink in drinks %}
                <li>
                    <strong>{{ drink.name }}</strong> - {{ drink.stock}} op voorraad
                    <form method="post" action="{{ path('order_drink') }}">
                        <input type="hidden" name="drink_name" value="{{ drink.name }}">
                        <button type="submit">Order</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
